exporter/DerivedData
exporter/Spriter2Moai.xcodeproj/xcuserdata/saurabhshukul.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
exporter/Spriter2Moai.xcodeproj/xcuserdata/saurabhshukul.xcuserdatad/xcschemes/Spriter2Moai.xcscheme
